body {
	background-color: #ddd;
	font-family: 'Roboto';
	background-image: url("background.png");
	background-size: 100% 100%;
}

h1 {
	font-family: 'Alex Brush';
	font-size: 100px;
	color: #eee;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.navbar-default {
	margin-bottom: 0px;
}

#camera-stream, #photo {
	margin-top: 20px;
	border: 10px solid rgba(14, 14, 14, 0.8);
	border-radius: 42px;  
}

#controls {
	padding-top: 20px;
}

.navbar {
	background-color: rgba(14, 14, 14, 0.8);
	border: none;
}

.footer, footer {
	background-color: rgba(14, 14, 14, 0.8);
	min-height: 70px;
	color:#eee;
}

.footer p {
	padding-top: 25px;
}

.btn {
	border: 1px solid rgba(14, 14, 14, 0.8);
}